body {
  margin: 0;
  padding: 0;
}

.main {
  display: inline-block;
  width: 345px;
  height: 200px;
  border-radius: 12px;
  background: white;
  box-shadow: 0 5px 20px #00000011;
}

.section {
  display: flex;
  padding: 20px;
  width: 345px;
  height: 200px;
  justify-content: center;
}

.dom {
  font-size: 12;
  font-family: "Segoe UI";
}

.buttons {
  margin-top: 15px;
  height: 45px;
}

.btn {
  width: 35px;
  height: 35px;
  border-radius: 17.5px;
}
